<tr>
	<td><%= pin.description %></td>
    <td><%= link_to 'Show', pin, class: "btn" %></td>

    <% if current_user == pin.user %>
    <td><%= link_to 'Edit', edit_pin_path(pin), class: "btn" %></td>
    <td><%= link_to 'Destroy', pin, class: "btn", method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
</tr>