<div class="hero-unit">
  <h1>Welcome!</h1>
  <p>Share your photos with the world!</p>
  <p>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-info btn-large" %>
  </p>
</div>

<div id="container">
<div class="item">
<%= render partial: "pins/pin", collection: @pins %>
<!-- http://guides.rubyonrails.org/v3.2.13/layouts_and_rendering.html#rendering-collections :) -->
</div>
</div>
