@import 'bootstrap';
@import 'bootstrap-responsive';
@import url(http://fonts.googleapis.com/css?family=Yellowtail);

.brand {
	font-family: 'Yellowtail';
}

.footer {
	padding-top:90px;
}

.navbar-inner {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.nav {
	padding-left: 30px;
}